*{
  margin: 0;
  padding: 0;
  /* padding: 10px 11px; */
  font-family: arial;
}
body {
  background-image: url('one.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
header{

/* border-bottom: 1px solid #f1e3ce; */

box-shadow: 1px 1px 11px 2px #d8c5c5;

}
header nav{
  width: 44%;

  margin: auto;
}
header nav ul{
  list-style: none;

  display: flex;
  
  justify-content: space-between;
  
  padding: 15px 0px;
  
  align-items: center;
}
header nav ul li{

}
header nav ul li a{
  text-decoration: none;
  color: #375C4D;
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
}
.content{

width: 50%;

display: flex;

margin: auto;

justify-content: center;

/* align-items: center; */

padding: 125px 0px;

/* box-shadow: 1px 1px 1px black; */
}

.form-content{

/* display: flex; */

background: #A7D497;

width: 50%;

padding: 35px 50px;

/* text-align: center; */

align-items: center;

color: #32403a;

box-shadow: 1px 1px 16px 1px #b7b7b7;

/* box-shadow: inset 1px 1px 20px 10px #375c4d; */
} 
.form-content h1{

padding: 25px 0px;

text-align: center;

font-size: 45px;
} 
.form-content form{
    
} 
.form-content form input{
    
width: 93%;
    
padding: 12px 0px 12px 0px;
    
border: none;
    
margin: 4px 0px;
    
text-align: left;
    
border-radius: 4px;
    
/* color: #ef2222; */
    
background: #f3f5f4;
} 
.form-content form input[type='submit']{

width: 29%;

padding-left: 0;

text-align: center;

border: none;

font-size: 21px;

color: #A7D497;

/* margin-left: 107px; */

margin: 17px 0px;

/* padding-left: 10px; */

margin-left: 174px;

padding: 18px 0;

background: #285045;

/* padding: 17px 36px 17px 37px; */
}
.form-content form select{

margin-right: 171px;

background: #A7D497;

border-radius: 5px;

color: #285045;

margin: 8px 9px;

width: 33%;

height: 25px;
}
.form-content form input[type='radio']{

width: 15%;



margin: 18px 0px;
}
.form-content form label{
    

    
font-size: 20px;
} 
.form-content ul{

display: flex;

list-style: none;

justify-content: center;

padding: 10px 0px;
} 
.form-content ul li{

padding: 10px 8px;
} 
.form-content ul li a{

text-decoration: none;

color: #285045;
} 
